.input{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid black;
}
.buttom{
    padding: 10px 20px;
    border: 1px solid black;
}
.select{
    display: block;
    border: 1px solid black;
}