$primary-color: #333;
.heading{
background-color: gray;
color: white;
display: flex;
}
.brand{
width: 50px;
height: 50px;
}
.brand-img{
width: 100%;
}
nav {
    background-color: antiquewhite;
    box-shadow: 0px 0px 10px;
    padding: 10px 20px;
    ul {
      margin-left: 30px;
  
      li {
        display: inline-block;
        border: 1px solid black;
        color: $primary-color;
        background-color: antiquewhite;
        a {
          color: $primary-color;
        }
        a:hover {
          color: white;
          background-color: $primary-color;
        }
      }
    }
    ul:hover {
      transform: rotate(45deg);
    }
  }